django==2.1.5
django-allauth==0.37.1
django-heroku==0.3.1
gunicorn==19.7.1
django-bootstrap-themes==3.3.6
django-bootstrap3==11.0.0
django-bootstrap4==0.0.8
django-crispy-forms-1.7.2
bootstrap4==0.1.0
